import /init.mobicore.rc

on init
    # Create a more standard /dev/block layout for our scripts
    symlink /dev/block/platform/bootdevice /dev/block/bootdevice
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw
    symlink /vendor/app/mcRegistry /system/bin/mcRegistry

on fs
    write /proc/bootprof "start mobicore (on fs)"
    mkdir /data/app/mcRegistry 0770 system system
    mkdir /data/app/mcRegistry/TbStorage 0770 system system
    chmod 0600 /dev/mobicore
    chown system system /dev/mobicore
    chmod 0666 /dev/mobicore-user
    chown system system /dev/mobicore-user

    #Fangfang.Hui@PSW.AD.Ota.1122242, 2016/08/15, Add for check and autorepair ext4 filesystem partitions in recovery mode, ensure some partitions were ready
#   wait /dev/block/bootdevice/by-name/cache
#   wait /dev/block/bootdevice/by-name/metadata
#   wait /dev/block/bootdevice/by-name/para
    exec /system/bin/e2fsck -y /dev/block/platform/bootdevice/by-name/cache
    #exec /sbin/e2fsck -y /dev/block/platform/bootdevice/by-name/userdata
    #mount ext4 /dev/block/platform/bootdevice/by-name/userdata /data rw wait
#Yongming.Shen@PSW.AD.OppoFeature.Customize.1881073, 2019/03/06, Add for mount custom in recovery
    rm /custom
    mkdir /custom
    mount ext4 /dev/block/platform/bootdevice/by-name/odm /custom ro wait
    start hwservicemanager
    install_keyring

#Add for OPPO FBE
service keymaster-3-0 /system/bin/android.hardware.keymaster@3.0-service
    #class early_hal
    #user system
    #group system drmrpc
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /system/bin/android.hardware.gatekeeper@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service hal_cryptoeng_oppo /system/bin/vendor.oppo.hardware.cryptoeng@1.0-service
    seclabel u:r:recovery:s0

service hwservicemanager /system/bin/hwservicemanager
    disabled
    onrestart setprop hwservicemanager.ready false
    writepid /dev/cpuset/system-background/tasks
    seclabel u:r:recovery:s0

service servicemanager /system/bin/servicemanager
    #class core animation
    #user system
    #group system readproc
    #critical
    #onrestart restart healthd
    #onrestart restart zygote
    #onrestart restart audioserver
    #onrestart restart media
    #onrestart restart surfaceflinger
    #onrestart restart inputflinger
    #onrestart restart drm
    #onrestart restart cameraserver
    #onrestart restart keystore
    #onrestart restart gatekeeperd
    writepid /dev/cpuset/system-background/tasks
    #shutdown critical
    seclabel u:r:recovery:s0

on property:hwservicemanager.ready=true
    #MobiCore Daemon Paths
    export MC_AUTH_TOKEN_PATH /efs
    start mobicore
    start keymaster-3-0
    start gatekeeper-1-0
    start hal_cryptoeng_oppo
    write /proc/bootprof "start mobicore end (on fs)"

on property:ro.crypto.state=unsupported
    stop mobicore
    stop keymaster-3-0
    stop gatekeeper-1-0
    stop hal_cryptoeng_oppo

on property:ro.crypto.state=unencrypted
    stop mobicore
    stop keymaster-3-0
    stop gatekeeper-1-0
    stop hal_cryptoeng_oppo

on property:twrp.decrypt.done=true
    stop mobicore
    stop keymaster-3-0
    stop gatekeeper-1-0
    stop hal_cryptoeng_oppo
